
		
			<h1 class="text-xl text-center font-bold leading-tight tracking-tight text-cyan-400 md:text-2xl dark:text-white">Ajouter une catégorie</h1>
			<div>
				<p class="text-red-500 mt-6 text-center text-sm" id='message_form_register'>&nbsp;</p>
			</div>
			{{ form_start(categoryForm, {
				  attr: {
					novalidate: "novalidate",
					class: "space-y-4 md:space-y-6",
					id: "category_add_form"
				  }
				})
			  }}
			<div class="mt-8 grid lg:grid-cols-2 gap-4">
				<div class="w-full max-w-sm min-w-[200px]">
					{{ form_label(categoryForm.name)}}
					{{ form_widget(categoryForm.name)}}
					{{ form_errors(categoryForm.name)}}
				</div>
			</div>
						<div class="mt-8 grid lg:grid-cols-2 gap-4">
				<div class="w-full max-w-sm min-w-[200px]">
					{{ form_label(categoryForm.parent)}}
					{{ form_widget(categoryForm.parent)}}
					{{ form_errors(categoryForm.parent)}}
				</div>
			</div>
			<div class="mt-8 grid lg:grid-cols-2 gap-4">
				<div>
					<button class="w-25 btn-info ml-96 " type="submit">Ajouter</button>
				</div>
			</div>
			{{ form_end(categoryForm)}}
		