
	
		<h1 class="text-xl text-center font-bold 
        leading-tight tracking-tight text-red-400
         md:text-2xl dark:text-white">Supprimer l'article : {{ article.titre }}</h1>
		<div>
			<p class="text-red-500 mt-1 text-center text-sm" id='message_form_register'>&nbsp;</p>
		</div>
		{{ form_start(form, {
				  attr: {
					novalidate: "novalidate",
					class: "space-y-4 md:space-y-6",
					id: "article_delete_form"
				  }
				})
			  }}

		<div class="w-full max-w-sm min-w-[925px]">
			{{ form_label(form.titre)}}
			{{ form_widget(form.titre)}}
		</div>


		<div class="w-full max-w-sm min-w-[925px]">
			{{ form_label(form.contenu)}}
			{{ form_widget(form.contenu)}}
		</div>
		<div class="w-full max-w-sm min-w-[925px]">
			{{ form_label(form.category)}}
			{{ form_widget(form.category)}}
		</div>

		<div class="w-full max-w-sm min-w-[925px]">
			{{ form_label(form.keyword)}}
			{{ form_widget(form.keyword)}}
		</div>
		<div class="w-full max-w-sm min-w-[462px]">
                   {% for image in article.photos %}
                            <div class="carousel-item {{ (loop.first ) ? 'active' : '' }}">
                                <p><img src="{{ asset('assets/uploads/articles/mini/640x480-') ~ image.name }}" class="rounded-full w-36 h-36 float-right" alt="{{ article.titre }}"></p>
                            </div>
                    {% endfor %}
		</div>
		<div>
			<button class="w-25 btn-warning" type="submit">Supprimer</button>
		</div>

		{{ form_end(form)}}
	

