{% extends 'base.html.twig' %}

{% block title %}Ajouter un article
{% endblock %}
{% block importmap %}
    {{ importmap(['app', 'add-article' ]) }}
{% endblock %}
{% block body %}
		{{ form_start(articleForm, {
				  attr: {
					novalidate: "novalidate",
					
					id: "article_add_form"
				  }
				})
			  }}

		<div>
			{{ form_label(articleForm.titre)}}
			{{ form_widget(articleForm.titre)}}
			{{ form_errors(articleForm.titre)}}
		</div>


		<div>
			{{ form_label(articleForm.contenu)}}
			{{ form_widget(articleForm.contenu)}}
			{{ form_errors(articleForm.contenu)}}
		</div>
		<div>
			{{ form_label(articleForm.category)}}
			{{ form_widget(articleForm.category)}}
			{{ form_errors(articleForm.category)}}
		</div>

		<div>
			{{ form_label(articleForm.keyword)}}
			{{ form_widget(articleForm.keyword)}}
			{{ form_errors(articleForm.keyword)}}
		</div>
		<div class="w-full max-w-sm min-w-[462px]">
			{{ form_label(articleForm.photos)}}
			{{ form_widget(articleForm.photos)}}
			{{ form_errors(articleForm.photos)}}
			<div class="preview" style="display-none">
				<img id="imagepreview" width="300" />
			</div>
		</div>
		<div>
			<button class="w-25 btn-warning" type="submit">Ajouter</button>
		</div>

		{{ form_end(articleForm)}}
	


{% endblock %}
